.register-modal .modal__content {
  width: 496px;
  height: 456px;
}

.modal__login-btn {
  border: none;
  background-color: white;
  color: #00000080;
  width: 70px;
  height: 36px;
  margin: 8px 0 0;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  left: 75px;
  bottom: 11px;
  padding: 0;
}

.modal__submit_register {
  border-radius: 4px;
  background-color: #0000004d;
  border: none;
  width: 65px;
  height: 36px;
  margin: 8px 0 0;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.modal__submit:hover {
  background-color: #000000;
}

.modal__label_type_avatar-url {
  margin-bottom: 32px;
  padding: 0px;
}
