.clothes-section {
  flex-grow: 1;
}

.clothes-section__row {
  display: flex;
  margin-bottom: 16px;
  margin-left: 116px;
  font-weight: 700;
  font-size: 20px;
}

.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 116px;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  max-width: 1015px;
}

.clothes-section__add {
  margin: 0 0 0 20px;
  padding: 0;
  border: none;
  font-weight: 700;
  background-color: #f3f3f3;
  color: #00000099;
  cursor: pointer;
}
